body{
    
}
p{
    border: 2px solid salmon;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
h1{ 
    cursor: pointer;
}
.row{
    margin-bottom: 50px;
}
.col-md-6{
    padding: 15px;
    border: 2px solid rgb(194, 194, 202);
    border-radius: 5px;
    margin-top: 25px !important;
    height: 500px;
    overflow: auto;
    display: none;
}

input{
    border: 2px solid rgb(194, 194, 202) !important;
    border-radius: 5px !important;
}

.col-md-6 span{
    display: inline-block;
    width: 70px;
    font-size: 1.7em;
    font-weight: 400;
    text-align: center;
}
.impair{
    background-color: rgb(168, 166, 166);
}
#error{
    color: red;
}